.pfp{
    width:300px;
    height:300px;
    padding: 20px 20px 30px 20px;
    border-radius: 12% !important;
    box-shadow: inset;
    -webkit-border-radius: 12% !important;
    -moz-border-radius: 12% !important;
    -ms-border-radius: 12% !important;
    -o-border-radius: 12% !important;
}
.pfp:hover{
    width:350px;
    height:350px;

}

.btn{
width:220px;
text-align: center;
padding:20px;

}

.socio{
    justify-content: space-between !important;
}
.body{
    background-image: ("");
}
.main-container{
display:flex;
flex-direction: row;
justify-content: space-between;
padding:20px;
flex-wrap: wrap;
flex-grow: 6;

}

.container{ 
    width: 400px;
    height:400px;
    border: 3px solid transparent;
    padding: 20px 20px;
    
    /* display: flex;
    flex-wrap: wrap;
    flex-grow: 6; */
    /* order: 6 */
    /* width : 400px */
    /* border: 3px solid transparent; */
    
}
.second-cont{
    width: 400px;
    height:400px;
    border: 3px solid transparent;
    padding: 20px 20px;
}

.third-cont{
    width: 400px;
    height:400px;
    border: 3px solid transparent;
    padding: 20px 20px;
}
.pfp1{
    border-radius: 12%;
    -webkit-border-radius: 12%;
    -moz-border-radius: 12%;
    -ms-border-radius: 12%;
    -o-border-radius: 12%;
}
.pfp1:hover{
    width: 200px;
    height:200px;
}